$blue : rgb(22, 168, 240);
$grey : rgb(175, 175, 175);
$lightGrey : rgb(230, 231, 232);
$darkGrey : rgb(102, 102, 102);
$charcoal : rgb(50, 51, 52);

$margin: 26px;

$topbarHeight : 76px;
$buttonsHeight : 90px;

$pianoHeight : 120px;
$boxHeight : 300px;

$C: red;
$Cs:#FF5349;
$D: orange;
$Ds:#FFAE42;
$E: yellow;
$F: green;
$Fs:#0CBAA6;
$G: blue;
$Gs:#8a2be2;
$A: purple;
$As:#D16587;
$B: pink;

$labelHeight : 45%;

$toggleHeight : calc(100% - #{$labelHeight} - #{$pianoHeight});

@mixin buttonShadow {
	box-shadow: 0 0px 2px $grey;
}